/*Loading Styles*/
div.bluesky-masklayer
{
    width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:9998;
	filter:alpha(opacity=10);
	opacity:0.1;
	-moz-opacity:0.1;
	background-color:#666666;
    }
div.bluesky-masklayer-loading
{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:9999;
	filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;
    background:#FFFFFF;
}