/* CSS Document */
.treelist
{
    height:100%;
    width:100%;
    overflow:auto;
    font-size:12px;
    color:Black;
    background-color:#FFFFFF;
    }
    
.treelist span
{
    display:block;
    float:left;
}
    
.tree-node
{
    width:100%;
    height:20px;
    border:none;
    background-color:#FFFFFF;
    display:inline-block;
}
.tree-nodes-box
{
    width:100%;
    height:auto;
    display:none;
    }
    
.tree-node-head-normal
{
    width:auto;
    height:18px;
    border:solid 1px #FFFFFF;
    background:#FFFFFF;
    cursor:pointer;
    padding-left:2px;
    padding-right:5px;
}
.tree-node-head-normal:hover
{
    border:solid 1px #999999;
	background: url(../../../icons/pop_title_bg.gif) left top repeat-x;
}
.tree-node-head-active
{
    width:auto;
    height:18px;
    border:solid 1px #999999;
    background: url(../../../icons/pop_title_bg.gif) left top repeat-x;
    cursor:pointer;
    padding-left:2px;
    padding-right:5px;
}
    
.tree-node-head-icon-leaf
{
    width:auto;
    height:18px;
    border:none;
    padding-left:20px;
    line-height:18px;
    background:url(../../../icons/TreeImages/leaf.gif) left center no-repeat;
    }
.tree-node-folder-normal
{
    width:auto;
    height:18px;
    border:none;
    padding-left:20px;
    line-height:18px;
    background:url(../../../icons/TreeImages/folder_normal.gif) left center no-repeat;
    }
.tree-node-folder-active
{
    width:auto;
    height:18px;
    border:none;
    padding-left:20px;
    line-height:18px;
    background:url(../../../icons/TreeImages/folder_active.gif) left center no-repeat;
    }
.tree-node-head-icon-leaf input,.tree-node-folder-normal input,.tree-node-folder-active input
{
	margin-right:3px;
	margin-bottom:3px;
    vertical-align:middle;
}
.tree-node-head-text a
{
    color:#000000;
    text-decoration:none;
    outline:none;
    }
.tree-node-head-text a:hover
{
    color:#000000;
    text-decoration:none;
    }
.tree-node-head-text a:visited
{
    color:#000000;
    text-decoration:none;
    outline:none;
    }
    
.tree-node-dot-plus{background:url(../../../icons/TreeImages/plus.gif) top right no-repeat;}
.tree-node-dot-minus{background:url(../../../icons/TreeImages/minus.gif) top right no-repeat;}
.tree-node-dot-first-plus{background:url(../../../icons/TreeImages/firstPlus.gif) top right no-repeat;}
.tree-node-dot-last-plus{background:url(../../../icons/TreeImages/lastPlus.gif) top right no-repeat;}
.tree-node-dot-first-minus{background:url(../../../icons/TreeImages/firstMinus.gif) top right no-repeat;}
.tree-node-dot-last-minus{background:url(../../../icons/TreeImages/lastMinus.gif) top right no-repeat;}
.tree-node-dot-one-minus{background:url(../../../icons/TreeImages/oneMinus.gif) top right no-repeat;}
.tree-node-dot-one-plus{background:url(../../../icons/TreeImages/onePlus.gif) top right no-repeat;}

.tree-node-branch-line
{
    background-image:url(../../../icons/TreeImages/line.gif);
    background-position:9px 1px;
    background-repeat:repeat-y;
}
.tree-node-branch-middle{background:url(../../../icons/TreeImages/middleLine.gif) top right no-repeat;}
.tree-node-branch-last{background:url(../../../icons/TreeImages/lastLine.gif) top right no-repeat;}
.tree-node-branch-first{background:url(../../../icons/TreeImages/firstLine.gif) top right no-repeat;}
.tree-node-branch-empty{background:#FFFFFF;}
.tree-node-branch-common
{
    width:20px;
    height:20px;
    border:none;
}
.tree-node-branch-wrapper
{
    width:20px;
}
