/*Window Styles*/
div.window-popup
{
    width:300px;
    height:200px;
    border:solid 1px #999999;
    position:absolute;
    left:100px;
    top:100px;
    margin:0px;
    padding:0px;
    border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	/*box-shadow:10px 10px 50px 20px #888888;*/
	/*-moz-box-shadow:10px 10px 50px 20px #888888;*/
	box-shadow:0px 0px 1px 1px #888888;
	-moz-box-shadow:0px 0px 1px 1px #888888;
	overflow:hidden;
	border-top-color:#E5E5E5;
	border-left-color:#E5E5E5;
	background:url(../icons/Window/WindowBackground.png) repeat;
}
div.window-flicker
{
	background-color:#E8ECF1 !important;
}
div.window-normal
{
	z-index:9990;
}
div.window-active
{
	z-index:9991;
}
div.window-move-border
{
    position:absolute;
    border:dotted 1px #000000;
    width:304px;
    height:204px;
    left:98px;
    top:98px;
    z-index:9999;
    filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;
	background-color:#000000;
}
div.window-move-panel
{
    width:100%;
    height:100%;
    position:absolute;
    z-index:9998;
    left:0px;
    top:0px;
    border:none;
    background-color:#ffffff;
    filter:alpha(Opacity=1);
	-moz-opacity:0.1;
	opacity:0.1;
}
div.window-title
{
    width:100%;
    height:25px;
    line-height:25px;
    color:#FFFFFF;
    font-size:13px;
    text-indent:5px;
    font-weight:bold;
    /*border-bottom:solid 1px #e2e2e2;*/
    /*border-bottom-color:#C6CFD5;*/
    margin:0px;
    padding:0px;
    cursor:default;
    overflow:hidden;
    border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	/*text-shadow:0px 1px 0px #222222,0px -0.5px 0px #222222;*/
}
div.window-title-normal
{
    /*background:url(../icons/Window/pop_title_bg.gif) left top repeat-x;
    filter:alpha(Opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;*/
}
div.window-title-active
{
    /*background:url(../icons/Window/pop_title_active_bg.gif) left top repeat-x;*/
}

div.window-title-text
{
    width:auto;
    float:left;
    }
img.window-icon
{
	width:16px;
	height:16px;
	padding:0px;
	border:none;
	margin:0px;
	margin-right:3px;
	}
div.window-main
{
    width:100%;
    position:absolute;
    background-color:#ffffff;
    border:none;
    margin-top:0px;
    padding:0px;
    overflow:hidden;
    border:0px;
    border-top:solid 1px #AFAFAF;
    border-left:solid 1px #AFAFAF;
    }
div.window-main iframe
{
    width:100%;
    height:100%;
    border:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

/*Window Button Styles*/
div.window-button
{
    width:16px;
    height:16px;
    border:none;
    float:right;
    margin:4px 5px 0 0;
    _margin:4px 3px 0 0;
    background-image:url(../icons/Window/pop_window_button_bg.png);
    cursor:pointer;
}
div.window-button-min-out
{
    background-position:-7px -61px;
}
div.window-button-min-over
{
    background-position:-7px -32px;
}
div.window-button-normal-out
{
    background-position:-95px -61px;
}
div.window-button-normal-over
{
    background-position:-95px -32px;
}
div.window-button-max-out
{
    background-position:-36px -61px;
}
div.window-button-max-over
{
    background-position:-36px -31px;
}
div.window-button-close-out
{
    background-position:-65px -61px;
}
div.window-button-close-over
{
    background-position:-65px -31px;
}
/*A 窗体按钮*/
a.window-button
{
	display:block;
    width:16px;
    height:16px;
    border:none;
    float:right;
    margin:4px 5px 0 0;
    _margin:4px 3px 0 0;
    background-image:url(../icons/Window/pop_window_button_bg.png);
    cursor:pointer;
}
a.window-button-min
{
    background-position:-7px -61px;
}
a.window-button-min:hover
{
    background-position:-7px -32px;
}
a.window-button-normal
{
    background-position:-95px -61px;
}
a.window-button-normal:hover
{
    background-position:-95px -32px;
}
a.window-button-max
{
    background-position:-36px -61px;
}
a.window-button-max:hover
{
    background-position:-36px -31px;
}
a.window-button-close
{
    background-position:-65px -61px;
}
a.window-button-close:hover
{
    background-position:-65px -31px;
}
/*Window Resize Styles*/
div.window-resize-border
{
    border:none;
    position:absolute;
    z-index:9994;
    font-size:0px;
    overflow:hidden;
    background-color:#ffffff;
    filter:alpha(Opacity=10);
	-moz-opacity:0.1;
	opacity:0.1;
}
div.window-resize-corner
{
    border:none;
    position:absolute;
    z-index:9994;
    width:4px;
    height:4px;
    font-size:0px;
    overflow:hidden;
    background-color:Transparent;
}
div.window-resize-w
{
    width:4px;
    height:100%;
    left:0px;
    top:0px;
    cursor:w-resize;
    }
div.window-resize-e
{
    width:4px;
    height:100%;
    right:0px;
    top:0px;
    cursor:e-resize;
    }
div.window-resize-n
{
    width:100%;
    height:4px;
    left:0px;
    top:0px;
    cursor:n-resize;
    }
div.window-resize-s
{
    width:100%;
    height:4px;
    left:0px;
    bottom:0px;
    cursor:s-resize;
    }
    
div.window-resize-ne
{
    right:0px;
    top:0px;
    cursor:ne-resize;
    }
div.window-resize-nw
{
    left:0px;
    top:0px;
    cursor:nw-resize;
    }
div.window-resize-se
{
    right:0px;
    bottom:0px;
    cursor:se-resize;
}
div.window-resize-sw
{
    left:0px;
    bottom:0px;
    cursor:sw-resize;
}
/*TaskBar Styles*/
div.taskbar
{
    width:100%;
    position:absolute;
    border:none;
    border-top:solid 1px #efefff;
    background:url(../icons/Window/topbackgroundimage.png) left top repeat-x;
    margin:0px;
    padding:0px;
    z-index:9993;
	left:0px;
	bottom:0px;
	overflow:auto;
}
input.btnWindowHome
{
    width:40px;
    height:23px;
    margin:0px;
    float:left;
    margin-top:1px;
    margin-left:2px;
    margin-right:5px;
    background:#D4D0C8 url(../icons/Window/windowsHome.png) center center no-repeat;
}

div.taskitem
{
    width:100px;
    font-size:12px;
    color:Black;
    /*font-family:@宋体;*/
    z-index:9993;
    text-indent:5px;
    float:left;
    cursor:pointer;
    margin-left:2px;
    _margin-left:1px;
    -moz-user-select:none;
    }
div.taskitem-normal
{
    background-color:#dddddd;
    border-top:solid 1px #fbfbfb;
    border-left:solid 1px #f6f6f6;
    border-right:solid 1px #8f8f8f;
    border-bottom:solid 1px #898989;
    }
div.taskitem-sel
{
    background-color:#F6F6F6;
    border-right:solid 1px #fefefe;
    border-bottom:solid 1px #ffffff;
    border-top:solid 1px #838383;
    border-left:solid 1px #8f8f8f;
    }
    
/*taskmenu styles*/
div.taskitem-menu
{
    width:80px;
    height:auto;
    position:absolute;
    left:0px;
    top:0px;
    z-index:9994;
    outline:none;
	background-color:#222222;
	border:none;
    overflow:hidden;
    }
div.taskitem-menu a
{
    display:block;
    font-size:13px;
    height:20px;
    line-height:20px;
    width:100%;
    text-indent:5px;
    text-decoration:none;
    color:#ffffff;
    margin:0px;
	margin-top:3px;
	margin-bottom:3px;
    }
div.taskitem-menu a:hover
{
    background-color:#555555;
    color:#ffffff;
}

div.alert-text
{
    width:auto;
    height:auto;
    vertical-align:middle;
    line-height:15px;
    padding:2px;
    font-size:12px;
    text-align:center;
    -moz-user-select:none;
    }
div.alert-button
{
    width:100%;
    height:auto;
    text-align:center;
    position:absolute;
    left:0px;
    bottom:5px;
    -moz-user-select:none;
    }
div.confirm-button
{
    width:100%;
    height:auto;
    text-align:center;
    position:absolute;
    left:0px;
    bottom:5px;
    -moz-user-select:none;
    }
div.confirm-button input
{
    float:right;
    margin-right:10px;
    }















