div.drag-panel
{
    position:absolute;
    border:dotted 1px #000000;
    width:304px;
    height:204px;
    left:98px;
    top:98px;
    z-index:9999;
    filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;
	background-color:#000000;
}
div.drag-mask
{
    width:100%;
    height:100%;
    position:absolute;
    z-index:9998;
    left:0px;
    top:0px;
    border:none;
    background-color:#ffffff;
    filter:alpha(Opacity=1);
	-moz-opacity:0.1;
	opacity:0.1;
}