div.resizer-border
{
    border:none;
    position:absolute;
    z-index:9994;
    font-size:0px;
    overflow:hidden;
    background-color:#ffffff;
    filter:alpha(Opacity=10);
	-moz-opacity:0.1;
	opacity:0.1;
}
div.resizer-corner
{
    border:none;
    position:absolute;
    z-index:9994;
    width:4px;
    height:4px;
    font-size:0px;
    overflow:hidden;
    background-color:Transparent;
}
div.resizer-w
{
    width:4px;
    height:100%;
    left:0px;
    top:0px;
    cursor:w-resize;
    }
div.resizer-e
{
    width:4px;
    height:100%;
    right:0px;
    top:0px;
    cursor:e-resize;
    }
div.resizer-n
{
    width:100%;
    height:4px;
    left:0px;
    top:0px;
    cursor:n-resize;
    }
div.resizer-s
{
    width:100%;
    height:4px;
    left:0px;
    bottom:0px;
    cursor:s-resize;
    }
    
div.resizer-ne
{
    right:0px;
    top:0px;
    cursor:ne-resize;
    }
div.resizer-nw
{
    left:0px;
    top:0px;
    cursor:nw-resize;
    }
div.resizer-se
{
    right:0px;
    bottom:0px;
    cursor:se-resize;
}
div.resizer-sw
{
    left:0px;
    bottom:0px;
    cursor:sw-resize;
}
div.resizer-panel
{
    position:absolute;
    border:dotted 1px #000000;
    width:304px;
    height:204px;
    left:98px;
    top:98px;
    z-index:9999;
    filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;
	background-color:#000000;
}
div.resizer-mask
{
    width:100%;
    height:100%;
    position:absolute;
    z-index:9998;
    left:0px;
    top:0px;
    border:none;
    background-color:#ffffff;
    filter:alpha(Opacity=1);
	-moz-opacity:0.1;
	opacity:0.1;
}