.contextMenu
{
    color:White;
    width:250px;
    height:auto;
    position:absolute;
	left:0px;
	top:0px;
	z-index:9998;
	background-color:#222222;
	overflow:hidden;
    }
.contextMenuItem
{
	width:100%;
	height:auto;
	margin:0px;
	margin-top:3px;
	margin-bottom:3px;
	border:none;
	overflow:hidden;
}
.contextMenuItem a
{
	display:block;
	width:100%;
	height:20px;
	line-height:20px;
    cursor:pointer;
    margin:0px;
    text-indent:10px;
    color:#ffffff;
}
.contextMenuItem a:hover
{
    background-color:#666666;
    color:#ffffff;
}
DIV.contextSplitLine
{
	width:100%;
	height:1px;
	border:none;
	border-width:0px;
	border-top:solid 1px #ffffff;
	margin-left:2px;	
}