body
{
    width:100%;
    height:100%;
    overflow:hidden;
    background:none;
    }
div.desktop-function
{
    width:86px;
    height:88px;
    float:left;
    margin-left:20px;
    margin-top:20px;
    border:none;
    }
    
.function-bg
{
    display:block;
    width:86px;
    height:88px;
    background:none;
    }
.function-bg:hover
{
    background:url(../image/DesktopBackImages/desktopbutton_bg.png);
    }