/* CSS Document */
/*全局样式*/
*{margin:0;padding:0;}
body{
	color:#000;
	background:#fff;
	font:14px "宋体";
	text-align:center;
}

html,body,form{
    width:100%;
    height:100%;
    border:none;
}

html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,frame,iframe,table,td,img,tr{
	margin:0;
	padding:0;
	border:none;
}

/*p段落首行自动缩进2em*/
p{
    text-indent:2em;
    padding:0px;
    margin:0px;
    line-height:17px;
}

select,input,img,select{vertical-align:middle;}
ul,ol{list-style-type:none;}
a,input,img{outline: none;}

div,table{text-align:left;}
a{
	text-decoration:none;
	color:#0000FF;
  }
a:hover
{
	text-decoration:underline;
	}
a:visited
{
	color:#0000FF;
	}

/*通用*/
.float-left{float:left}
.float-right{float:right}

/*字体通用样式*/
font.font-title
{
    display:block;
    overflow:hidden;
    font-size:35px;
    font-family:"@华文行楷";
    font-weight:900;
    color:#192F46;
}
font.font-hint
{
	color:#ff0000;
	font-size:12px;
	margin:0px 2px 0px 2px;
}
font.font-hintBold
{
	color:#ff0000;
	font-size:14px;
	font-weight:bold;
	margin:0px 2px 0px 2px;
}
.text-center
{
    text-align:center;
	}

/*容器通用样式*/
div.content
{
    width:100%;
    height:100%;
    overflow:hidden;
}
div.box
{
    margin:0px;
    padding:5px;
    text-align:left;
}
div.box-fixed
{
	width:100%;
	height:100%;
	overflow:hidden;
}
div.box-scroll
{
	width:100%;
	height:100%;
	overflow:auto;
	}
div.list-container
{
	width:100%;
	overflow:auto;
}
fieldset.fieldset-normal
{
	border:dashed 1px #999999;
	background-color:#FFFFFF;
	}
fieldset.fieldset-normal legend
{
	border:dashed 1px #999999;
	background-color:#EEEEEE;
	padding:3px;
	}

/*按钮通用样式*/
Input.btn-normal
{
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAcCAMAAACgTerKAAAAA3NCSVQICAjb4U/gAAAASFBMVEX+/v79/f38/Pz7+/v6+vr4+Pj39/f29vb19fX09PTz8/Px8fHw8PDv7+/u7u7t7e3s7Ozr6+vp6eno6Ojn5+fm5ubl5eX///8jGyilAAAAGHRSTlP//////////////////////////////wDNEy7qAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAFnRFWHRDcmVhdGlvbiBUaW1lADA0LzEyLzEyiu5yJQAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAABNSURBVEiJ3c/XFYAgAMDAWFBUitj2H9Ut8sEtkBfoxiBgFDAJnMgsIAhYBKwCooBNwC7gEJAEZAFFQBVwCmgCLgG3wIk8Al4Bn6Cfkx/Rg3w59D7HjwAAAABJRU5ErkJggg==) repeat-x;*/
    /*border:solid 1px #A5A5A5;*/
    cursor:pointer;
    padding:0px;
    padding-left:5px;
    padding-right:5px;
    border:solid 1px #888;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#d7d7d7',GradientType=0 );
    background-color:rgb(243, 243, 243);
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAcCAMAAACgTerKAAAAA3NCSVQICAjb4U/gAAAASFBMVEX+/v79/f38/Pz7+/v6+vr4+Pj39/f29vb19fX09PTz8/Px8fHw8PDv7+/u7u7t7e3s7Ozr6+vp6eno6Ojn5+fm5ubl5eX///8jGyilAAAAGHRSTlP//////////////////////////////wDNEy7qAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAFnRFWHRDcmVhdGlvbiBUaW1lADA0LzEyLzEyiu5yJQAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAABNSURBVEiJ3c/XFYAgAMDAWFBUitj2H9Ut8sEtkBfoxiBgFDAJnMgsIAhYBKwCooBNwC7gEJAEZAFFQBVwCmgCLgG3wIk8Al4Bn6Cfkx/Rg3w59D7HjwAAAABJRU5ErkJggg==);
    background-repeat:repeat-x;
    height:22px;
    line-height:22px;
    width:auto;
    -min-width:50px;
    border-radius:3px 3px 3px 3px;
	-moz-border-radius:3px 3px 3px 3px;
}
Input.btn-command
{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAcCAMAAACgTerKAAAAA3NCSVQICAjb4U/gAAAASFBMVEX+/v79/f38/Pz7+/v6+vr4+Pj39/f29vb19fX09PTz8/Px8fHw8PDv7+/u7u7t7e3s7Ozr6+vp6eno6Ojn5+fm5ubl5eX///8jGyilAAAAGHRSTlP//////////////////////////////wDNEy7qAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAFnRFWHRDcmVhdGlvbiBUaW1lADA0LzEyLzEyiu5yJQAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAABNSURBVEiJ3c/XFYAgAMDAWFBUitj2H9Ut8sEtkBfoxiBgFDAJnMgsIAhYBKwCooBNwC7gEJAEZAFFQBVwCmgCLgG3wIk8Al4Bn6Cfkx/Rg3w59D7HjwAAAABJRU5ErkJggg==) repeat-x;
    /*border:solid 1px #A5A5A5;*/
    cursor:pointer;
    padding:0px;
    padding-left:10px;
    padding-right:10px;
    /*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF',endColorstr='#E1E8F7',GradientType=0 );*/
    background:#f4f4f4;
    border:none;
    border-right:solid 1px #A5A5A5;
    border-bottom:solid 1px #A5A5A5;
    height:21px;
    /*line-height:21px;*/
    width:auto;
    -min-width:50px;
}
Input.btn-return
{
    cursor:pointer;
    padding:0px;
    padding-left:5px;
    padding-right:18px;
    height:21px;
    width:auto;
    -min-width:50px;
    background:#D4D0C8 url(../image/ButtonImages/return.png) right center no-repeat;
}
Input.btn-select-noleft
{
	height:21px;
	border-left:none;
	border-radius:0px 2px 2px 0px;
	-moz-border-radius:0px 2px 2px 0px;
}
Input.btn-select
{
	height:21px;
}
Input.txt-normal
{
	height:19px;
	width:auto;
	border:none;
	border-right:solid 1px #aaaaaa;
	border-bottom:solid 1px #aaaaaa;
	border-top:solid 1px #666666;
	border-left:solid 1px #666666;
	background:#FFFFFF url(../image/txt_backimage.gif) left top repeat-x;
	font-size:12px;
	padding-left:2px;
	line-height:19px;
	vertical-align:middle;
	border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
}
Input.txt-hint
{
	border-color:#ff0000;	
}
Input.txt-file
{
	height:22px;
	width:auto;
	border:none;
	border-right:solid 1px #aaaaaa;
	border-bottom:solid 1px #aaaaaa;
	border-top:solid 1px #666666;
	border-left:solid 1px #666666;
	background:#FFFFFF url(../image/txt_backimage.gif) left top repeat-x;
	font-size:12px;
	padding-left:2px;
	line-height:22px;
	vertical-align:middle;
	}
Input.txt-noborder
{
	border:none;
}

Textarea.txt-mutil
{
	height:auto;
	width:auto;
	border:none;
	border-right:solid 1px #aaaaaa;
	border-bottom:solid 1px #aaaaaa;
	border-top:solid 1px #666666;
	border-left:solid 1px #666666;
	background:#FFFFFF url(../image/txt_backimage.gif) left top repeat-x;
	font-size:12px;
	overflow:auto;
	padding:3px;
	border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
}
Textarea.txt-noborder
{
	border:none;
}
Input.radio-normal
{
    width:15px;
    height:15px;
}
Select.select-normal
{
	height:21px;
	width:auto;
	border-right:solid 1px #aaaaaa;
	border-bottom:solid 1px #aaaaaa;
	border-top:solid 1px #666666;
	border-left:solid 1px #666666;
}
/* Action Styles for Hyper Link */
DIV.toolBar
{
    width:100%;
    height:auto;
    padding:3px;
    padding-left:0px;
    padding-right:0px;
    background:#E9ECF0 url(../image/title_image.gif) left top repeat-x;
    white-space:nowrap;
    }
A.action-normal
{
    height:20px;
    display:inline-block;
    width:auto;
    line-height:20px;
    font-size:13px;
    text-decoration:none;
    color:Black;
    padding:0px;
    padding-left:5px;
    padding-right:5px;
    margin-left:5px;
    border-style:solid;
    border-width:1px;
    border-color:Transparent;
    border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
}
A.action-active
{
    height:20px;
    display:inline-block;
    width:auto;
    line-height:20px;
    font-size:13px;
    text-decoration:none;
    color:Black;
    padding:0px;
    padding-left:5px;
    padding-right:5px;
    margin-left:5px;
    cursor:default;
    background-color:#F2F5F5;
    border-right:solid 1px #FFFFFF;
    border-bottom:solid 1px #FFFFFF;
    border-left:solid 1px #999999;
    border-top:solid 1px #999999;
    border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
}
A.action-normal span,A.action-active span
{
    vertical-align:middle;
    margin-left:2px;
}
A.action-normal:hover
{
    border-left:solid 1px #FFFFFF;
    border-top:solid 1px #FFFFFF;
    border-right:solid 1px #999999;
    border-bottom:solid 1px #999999;
    }

/*图片通用样式*/
/*列表样式*/
Table.table-list
{
    border:none;
    border-width:0px;
    cursor:default;
    
}
Table.table-list-topline
{
	border-top:solid 1px #D8D8D8;
}
Td.td-header,th.td-header
{
    height:22px;
    line-height:22px;
    border-right:solid 1px #D8D8D8;
    border-bottom:solid 1px #D8D8D8;
    background:#F5F7F7 url(../image/Panel/panel_title_bg.gif) left top repeat-x;
    padding:2px;
    font-size:12px;
    color:#666666;
    font-weight:bold;
    white-space:nowrap;
}
Td.td-header-last,th.td-header-last
{
    height:22px;
    line-height:22px;
    border:none;
    border-bottom:solid 1px #D8D8D8;
    background:#F5F7F7 url(../image/Panel/panel_title_bg.gif) left top repeat-x;
    padding:2px;
    font-size:12px;
    color:#666666;
    font-weight:bold;
    white-space:nowrap;
}
Td.td-content,th.td-content
{
    height:20px;
    line-height:20px;
    border-right:solid 1px #D8D8D8;
    border-bottom:solid 1px #D8D8D8;
    padding:2px;
    font-size:12px;
    white-space:nowrap;
}
Td.td-content-last,th.td-content-last
{
    height:20px;
    line-height:20px;
    border:none;
    border-bottom:solid 1px #D8D8D8;
    padding:2px;
    font-size:12px;
    white-space:nowrap;
}
Td.td-content div,td.td-content-last div
{
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	}
Td.td-content-empty,th.td-content-empty
{
	border:none;
	background:#FFFFFF;
	}
Td.td-header-select,th.td-header-select
{
	width:25px;
	background:#F5F7F7 url(../image/Panel/panel_title_bg.gif) left top repeat-x;
	}
Td.td-header-order,Th.td-header-order
{
	width:35px;
	background:#F5F7F7 url(../image/Panel/panel_title_bg.gif) left top repeat-x;
	}

Td.td-content-select,Th.td-content-select
{
	width:25px;
	background:#F5F7F7;
}
Td.td-content-order,th.td-content-order
{
	width:35px;
	background:#F5F7F7;
	cursor:default;
}
Td.td-content-select div,Th.td-content-select div
{
	width:25px;
}
Td.td-content-order div,Th.td-content-order div
{
	width:35px;
}
Td.td-align-center div
{
	text-align:center;	
}
Td.td-align-right div
{
	text-align:right;
}
Td.td-align-left div
{
	text-align:left;
}
Td.td-search-single
{
	background:#E9ECF0 url(../image/title_image.gif) left top repeat-x;
}
Tr.tr-row-active
{
    background:#F6F6F6;
}
Tr.tr-row-selected
{
	background:#EDF2FA;
}
Tr.tr-settings,Td.td-settings
{
	height:0px;
	font-size:0px;
	padding:0px;
}


Div.action-search-panel
{
	padding:5px;
	overflow:auto;
	white-space:nowrap;
	background:#F7F7F7;
	border:0px;
	border-top:solid 1px #D8D8D8;
	border-bottom:solid 1px #E8E8E8;
	font-size:12px;
	display:none;
	}
/*分页控件样式*/
Table.pager
{
    width:100%;
    height:30px;
    border:none;
    background:#DBE6F4;
}
Table.pager a
{
    display:block;
    width:20px;
    height:20px;
    font-size:1px;
    cursor:pointer;
}
A.pager_first{ background:url(../image/first.gif) center center no-repeat; }
A.pager_prev{ background:url(../image/prev.gif) center center no-repeat; }
A.pager_next{ background:url(../image/next.gif) center center no-repeat; }
A.pager_last{ background:url(../image/last.gif) center center no-repeat; }
A.pager_refresh{ background:url(../image/arrow_refresh.png) center center no-repeat; }
A.pager_first_disabled{ background:url(../image/first.gif) center center no-repeat;cursor:auto; }
A.pager_prev_disabled{ background:url(../image/prev.gif) center center no-repeat;cursor:default; }
A.pager_next_disabled{ background:url(../image/next.gif) center center no-repeat;cursor:default; }
A.pager_last_disabled{ background:url(../image/last.gif) center center no-repeat;cursor:default; }